<!-- <header>
  <h1>FamilySyncher</h1>
  <nav>
    <ul>
      <li class="menu-item">Familienmitglieder
        <ul class="dropdown">
          <li>Daniel</li>
          <li>Martina</li>
          <li>Lara</li>
          <li>Anni</li>
          <li>Jule</li>
          <li>Emil</li>
        </ul>
      </li>
      <li class="menu-item">Alltagsaufgaben
        <ul class="dropdown">
          <li>Aufgabe 1</li>
          <li>Aufgabe 2</li>
          <li>Aufgabe 3</li>
        </ul>
      </li>
    </ul>
  </nav>
</header> -->

<header>
  <h1>FamilySyncher</h1>
</header>
